<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="5706078874001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <p>Les<strong> propriétés de restriction de</strong> contenu du lecteur peuvent être utilisées pour restreindre un lecteur
 à certains pays ou bloquer un lecteur
 de certains pays. Des restrictions de domaine peuvent être ajoutées à un lecteur pour limiter les domaines dans lesquels le lecteur peut être utilisé.</p> <aside class="bcls-aside bcls-aside--information">
      <h4>Remarques:</h4>
      <ul>
        <li>Les<strong> propriétés</strong> Geo Restriction ne sont disponibles que pour les comptes Enterprise et Professional. <strong>La restriction de domaine</strong> est disponible pour tous les comptes.</li>
        <li>L'adresse IP peut également être utilisée pour limiter la lecteur. Pour plus d'informations, voir<a href="https://player.support.brightcove.com/content-protection/restricting-video-playback-using-ip-address.html"> Restreindre la lecteur vidéo à l'aide d'une adresse IP</a>.</li>
      </ul> </aside>
    <p>Pour afficher et modifier les<strong> propriétés de restriction de</strong> contenu d'un lecteur, ouvrez le module Players, cliquez sur le nom d'un lecteur
, puis cliquez sur Restriction de<strong> contenu</strong> dans le menu de navigation de gauche.</p>
    {% if site.product_short == Cloud vidéo-fr/ %} <figure class="bcls-figure"><img class="bcls-image--no-border" alt="restriction de contenu" src="/assets/images/s-players-img/node15616-content-restrictions-vc.png" /></figure> {% endif %} {% if site.product_short == balise-fr/ %} <figure class="bcls-figure"><img class="bcls-image--no-border" alt="restriction de contenu" src="/assets/images/s-players-img/node15616-content-restrictions-beacon.png" /></figure> {% endif %}<aside class="bcls-aside bcls-aside--information"> Remarque: Toute modification apportée à un lecteur peut prendre jusqu'à 5 minutes avant d'apparaître dans les lecteurs publiés.</aside> </section> <section class="bcls-section">
    <h2 id="domains">Configuration des restrictions de domaine</h2>
    <p>Des restrictions de domaine peuvent être définies sur les lecteur
s afin de limiter les domaines dans lesquels les lecteur
s peuvent être utilisés. Si le code de publication du lecteur est copié et utilisé sur un autre site, les restrictions de domaine empêcheront le lecteur de charger des vidéos. Les éditeurs doivent utiliser le code intégré à la page pour que la lecteur fonctionne réellement sur les domaines qui ont été mis sur liste blanche. Les éditeurs ne peuvent pas utiliser le code intégré iframe sur un domaine de la liste blanche (ou tout autre domaine) et s'attendre à ce que la lecteur fonctionne correctement.</p> <aside class="bcls-aside bcls-aside--information">
      <h4>Remarques:</h4>
      <ul>
        <li>Alors que les restrictions de domaine peuvent aider à empêcher la distribution non autorisée de votre contenu, les clients qui recherchent une sécurité maximale du contenu devraient plutôt se tourner vers des solutions DRM. Consultez Gestion des droits<a href="/general/overview-digital-rights-management-drm-video-cloud.html"> numériques (DRM) dans Video Cloud</a> pour plus d'informations.</li>
        <li>Les restrictions de domaine sont prises en charge lors de l'utilisation d'une expérience dans la page Gallery et du code intégré recommandé (JavaScript).</li>
        <li>Les lecteurs à domaine restreint ne sont pas compatibles avec les intégrations AMP. En effet, l'intégration AMP crée une iframe qui, à son tour, n'est pas prise en charge par les lecteurs restreints au domaine.</li>
        <li>Lorsque vous utilisez la fonctionnalité de restriction de domaine, les restrictions de domaine doivent être configurées pour tous les lecteur
s de votre compte. Si tous les lecteurs ne sont pas configurés avec des restrictions de domaine, quelqu'un peut prendre la clé de stratégie d'un lecteur non protégé et l'utiliser pour lire n'importe quelle vidéo.</li>
        <li>Bien qu'il n'y ait aucune limite quant au nombre de domaines pouvant être ajoutés dans Studio, il existe une limite sur la longueur de l'URL (qui est définie par plusieurs facteurs limitatifs tels que l'appareil/le navigateur utilisé) pour la requête d'API à l'API Playback. Cette URL inclura la liste de domaines délimitée par des virgules. Veuillez noter que cette limitation est également valable si vous utilisez uniquement Studio. Par conséquent, le nombre de domaines pouvant être spécifiés est limité, mais le nombre dépendra de la longueur des noms de domaine.</li>
      </ul> </aside>
    <p>Pour configurer une restriction de domaine pour un lecteur, procédez comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Saisissez une ou plusieurs URL de domaine complètes (telles que http://www.brightcove.com ou https://www.brightcove.com) pour restreindre la disponibilité de votre lecteur à ces domaines particuliers. Veillez à inclure http://ou https://. Cliquez sur<strong> +</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node15616-domains.png" /></figure> <aside class="bcls-aside bcls-aside--information">
          <h4>Remarques:</h4>
          <ul>
            <li>Les URL complètes doivent être fournies. Les caractères génériques dans les URL ne sont pas pris en charge. Les URL ne doivent pas se terminer par un /.</li>
            <li>Seuls les domaines, et non les chemins spécifiques, sont pris en charge. Par exemple, vous pouvez ajouter<code translate="No"> https://www.brightcove.com</code>, mais<strong> pas</strong> <code translate="No"> https://www.brightcove.com<span class="bcls-highlight"> /documentation</span></code></li>
          </ul> </aside>
        </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span> pour enregistrer les modifications.</li>
    </ol>  </section><section class="bcls-section">
    <h2 id="geofilter">Configuration du filtrage géographique</h2>
    <p>Le filtrage géographique peut être utilisé pour contrôler quels pays peuvent ou ne peuvent pas utiliser un lecteur.</p> <aside class="bcls-aside bcls-aside--information">
      <h4>Remarques:</h4>
      <ul>
        <li>Le filtrage géographique est une fonctionnalité disponible pour les comptes Enterprise et Professional moyennant des frais supplémentaires. Contactez Brightcove si vous souhaitez mettre à niveau votre compte afin d'inclure le filtrage géographique.</li>
        <li>Le filtrage géographique peut également être<a href="/media/configuring-video-availability.html"> appliqué à des vidéos individuelles</a>. {{site.product_short}} appliquera les politiques de filtrage géographique des lecteurs et des vidéos. Si un pays est exclu par l'un ou l'autre, la vidéo n'y sera pas disponible.</li>
      </ul> </aside>
    <p>Pour définir les propriétés de filtrage géographique d'un lecteur:</p>
    <ol class="bcls-tasklist-restart">
      <li>Sélectionnez<strong> Autoriser le visionnage depuis les pays suivants</strong> ou<strong> Interdire l'affichage depuis les pays suivants</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node15616-geo-settings.png" /></figure>
        </li>
      <li>Saisissez les noms de pays appropriés. Au fur et à mesure que vous tapez, la liste des pays sera filtrée. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node15616-geofilter-country.png" /></figure>
        </li>
      <li>Cliquez sur un pays, puis appuyez sur Entrée pour l'ajouter à la liste. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node15616-geofilter-country-added.png" /></figure>
        </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span>.</li>
    </ol>   </section></article>