<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section">
    <p>Les commandes du lecteur telles que le sélecteur de qualité, la fréquence de lecteur, l'image dans l'image, le contrôle plein écran et le curseur de volume vertical peuvent être configurées pour un lecteur.</p> <figure class="bcls-figure"> <img         class="bcls-image--no-border"         alt="menu de style"  src="/assets/images/s-players-img/node18509-player-controls-example.png"       /> </figure>
    <p>Pour configurer les<strong> propriétés des</strong> contrôles, procédez comme suit: </p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Players.</li>
      <li>Cliquez sur le lien correspondant au lecteur que vous souhaitez configurer. </li>
      <li>Cliquez sur<strong> Contrôles</strong> dans le menu de navigation de gauche. </li>
    </ol>
    {% if site.product_short == Cloud vidéo-fr/ %} <figure class="bcls-figure"> <img         class="bcls-image--no-border"         alt="menu de style"  src="/assets/images/s-players-img/node18509-player-controls-vc.png"       /> </figure> {% endif %} {% if site.product_short == balise-fr/ %} <figure class="bcls-figure"> <img         class="bcls-image--no-border"         alt="menu de style"  src="/assets/images/s-players-img/node18509-player-controls-beacon.png"       /> </figure> {% endif %}
    <p>Les commandes suivantes peuvent être configurées:</p>
    <ul>
      <li><a href="#quality">Sélecteur de qualité</a></li>
      <li><a href="#rates">Taux de lecteur</a></li>
      <li><a href="#fullscreen">Plein écran</a></li>
      <li> <a href="#volume">Curseur de volume vertical</a></li>
      <li><a href="#seeking">Recherche de vignettes</a></li>
      <li><a href="#picture-in-picture">Image dans l'image</a></li>
      <li> <a href="#skip">Passer à la vidéo suivante (playlist)</a></li>
    </ul>
    <p>Une fois les modifications apportées, assurez-vous de republier le lecteur pour que les modifications soient visibles. </p> <aside class="bcls-aside bcls-aside--information"> Remarque: Toute modification apportée à un lecteur peut prendre jusqu'à 5 minutes avant d'apparaître dans les lecteurs publiés. </aside> </section> <section class="bcls-section">
    <h2 id="quality">Sélecteur de qualité</h2>
    <p>L'activation du sélecteur de<strong> qualité</strong> permet de sélectionner manuellement un rendu différent pendant la lecteur de la vidéo. Une icône représentant une roue dentée apparaît dans le coin inférieur droit du lecteur. </p> <aside class="bcls-aside bcls-aside--information">Remarque: Le sélecteur de qualité nécessite Brightcove Player version 5.17.0 ou ultérieure et peut ne pas fonctionner avec tous les navigateurs.</aside> <aside class="bcls-aside bcls-aside--information">Remarque: Apple n'autorise pas le contrôle de la qualité de lecteur sur iOS ou sur ordinateur de bureau, car il utilise le streaming adaptatif pour ajuster automatiquement le niveau de qualité en fonction de la bande passante, de la vitesse de connexion, de la taille de l'écran, etc.</aside>
    <p>Lorsque le sélecteur de qualité est activé, deux options pour l'étiquette du sélecteur de<strong> qualité</strong> sont activées: </p>
    <ul>
      <li><strong>Afficher la résolution (par exemple, 720p)</strong> - Les rendus seront affichés par des lignes de résolution horizontale <figure class="bcls-figure"> <img             class="bcls-image--no-border"             alt=""             src="/assets/images/s-players-img/node18509-resolution.png"           /> </figure>
        <p>Lorsque vous utilisez cette option, un autre paramètre (<code translate="No"></code>ResolutionLabelDebits) peut être ajouté au plugin Quality Selection pour afficher également les débits binaires. </p>   <figure class="bcls-figure"><img             class="bcls-image--no-border"             alt="" src="/assets/images/s-players-img/node18509-resolution-bitrates.png"           /></figure>
        <p>Cela doit être fait en éditant les paramètres du plugin car il n'existe actuellement aucun moyen de configurer cette option à l'aide de l'interface utilisateur du module Players. Pour plus d'informations, consultez le<a             href="https://player.support.brightcove.com/plugins/quality-selection-plugin.html"             > document Plugin</a           > de sélection de la qualité.</p>
      </li>
      <li><strong>Afficher HD/SD</strong> - Le lecteur consultera les informations de débit pour chaque rendu afin de déterminer s'il s'agit d'une SD ou d'une HD <figure class="bcls-figure"> <img             class="bcls-image--no-border"             alt="" src="/assets/images/s-players-img/node18509-hd-sd.png"           /> </figure>
      </li>
    </ul>  </section><section class="bcls-section">
    <h2 id="rates">Taux de lecteur</h2>
    <p>L'activation des fréquences de<strong> lecteur</strong> permet de sélectionner manuellement une fréquence de lecteur différente. Une icône de fréquence de lecteur apparaît dans le coin inférieur droit du lecteur.</p> <aside class="bcls-aside bcls-aside--information"> Remarques:
      <ul>
        <li>Le sélecteur de fréquence de lecteur nécessite la version 6.35.0 ou ultérieure de Brightcove Player et peut ne pas fonctionner avec tous les navigateurs. </li>
        <li>La largeur du lecteur doit être d'au moins 424 pixels pour afficher le contrôle des taux de lecteur.</li>
        <li>Safari ne prend pas en charge les tarifs supérieurs à 2 fois.</li>
      </ul>      </aside><figure class="bcls-figure"><img         class="bcls-image--no-border"         alt=""  src="/assets/images/s-players-img/node18509-playback-rates.png"       /></figure></section><section class="bcls-section">
    <h2 id="fullscreen">Plein écran</h2>
    <p>Sélectionnez<strong> Plein écran</strong> pour activer le contrôle plein écran. La commande plein écran permet de redimensionner le lecteur pour qu'il remplisse tout l'écran. Lorsque la vidéo commence à être lue, une icône plein écran apparaît dans le coin inférieur droit du lecteur. </p>  </section><section class="bcls-section">
    <h2 id="volume">Curseur de volume vertical</h2>
    <p>Sélectionnez Curseur de volume<strong> vertical</strong> pour afficher le curseur de volume verticalement. </p> <figure class="bcls-figure"> <img         class="bcls-image--no-border"         alt="" src="/assets/images/s-players-img/node18509-vertical-volume.png"       /> </figure> <aside class="bcls-aside bcls-aside--information"> Cette fonctionnalité est uniquement disponible dans Brightcove Player 6.32.0+. </aside> </section> <section class="bcls-section">
    <h2 id="seeking">Recherche de vignettes</h2>
    <p>Sélectionnez Recherche de<strong> vignettes</strong> pour afficher les miniatures vidéo sur la barre de progression.</p> <figure class="bcls-figure"> <img         class="bcls-image--no-border"         alt="" src="/assets/images/s-players-img/node18509-thumbnail-seeking.png"       /> </figure> <aside class="bcls-aside bcls-aside--information"> Cette fonctionnalité est uniquement disponible dans Brightcove Player 6.41.0+. Pour en savoir plus sur la recherche de vignettes, consultez<a href="adding-thumbnail-seeking-player.html"> Ajout de la recherche de vignettes à un lecteur Brightcove</a>.</aside> </section> <section class="bcls-section">
    <h2 id="skip">Passer à la vidéo suivante (playlist)</h2>
    <p>Sélectionnez<strong> Passer à la vidéo suivante (liste de lecteur)</strong> pour activer le contrôle de saut. Vous pouvez cliquer sur la commande de saut pour passer à la vidéo suivante de la liste de lecteur. </p>     <figure class="bcls-figure"><img         class="bcls-image--no-border"         alt="" src="/assets/images/s-players-img/node18509-skip-control.png"       /></figure></section><section class="bcls-section">
    <h2 id="picture-in-picture">Image dans l'image</h2>
    <p>La fonctionnalité image dans image HTML5 est définie comme suit: <em>Permet aux sites Web de créer une fenêtre vidéo flottante toujours au-dessus des autres fenêtres afin que les utilisateurs puissent continuer à consommer du contenu multimédia pendant qu'ils interagissent avec d'autres sites de contenu ou applications sur leur appareil</em>.</p>
    <p> Un exemple d'image dans l'image est présenté dans les deux captures d'écran suivantes. Cette première capture d'écran montre un navigateur avec un lecteur affichant une vidéo. Notez le bouton d'image dans l'image en bas à droite du lecteur avec la flèche rouge pointant vers lui. </p> <figure class="bcls-figure"> <img         class="bcls-image--no-border"         alt="P-in-p Nirnak" src="/assets/images/s-players-img/node18509-normal.png"       /> </figure>
    <p>La capture d'écran suivante montre le résultat obtenu en cliquant sur le bouton image dans l'image. Par défaut, le lecteur
 se déplace en bas à droite de l'écran (PAS dans le navigateur). Le lecteur peut ensuite être déplacé là où le spectateur souhaite le placer. </p>   <figure class="bcls-figure"><img         class="bcls-image--no-border"         alt="" src="/assets/images/s-players-img/node18509-p-in-p.png"       /></figure>
    <p>Cette fonctionnalité est activée par défaut. Tous les navigateurs ne prennent pas en charge cette fonctionnalité d'image dans l'image. Le tableau suivant détaille la prise en charge actuelle. </p>
    <table class="bcls-table">
      <thead class="bcls-table__head">
        <tr>
          <th>Navigateur</th>
          <th>Assistance</th>
        </tr>
      </thead>
      <tbody class="bcls-table__body">
        <tr>
          <td>Chrome</td>
          <td>Prise en charge dans la version 78+</td>
        </tr>
        <tr>
          <td>Safari</td>
          <td>Pris en charge dans les versions 13.1+</td>
        </tr>
        <tr>
          <td>Firefox</td>
          <td>Pris en charge dans les versions 13.1+</td>
        </tr>
        <tr>
          <td>Edge</td>
          <td>Prise en charge dans la version 78+</td>
        </tr>
      </tbody>
    </table> <aside class="bcls-aside bcls-aside--information language-editable">Notez que la fonctionnalité d'image dans l'image fonctionne différemment dans Firefox et dans les autres navigateurs. Dans Firefox, il doit être activé dans le navigateur lui-même, plutôt que dans le lecteur.</aside>
    <p>Vous pouvez désactiver cette fonctionnalité dans Studio à l'aide de l'<strong>option Éditeur</strong> JSON du<strong> module</strong> Players. Pour ce faire, ajoutez l'option de configuration<code translate="No"> picture_in_picture_control
description: false,</code> comme indiqué ici: </p>      <figure class="bcls-figure"><img         class="bcls-image--no-border"         alt="" src="/assets/images/s-players-img/node18509-json-editor.png"       /></figure></section></article>