<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="4043519495001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <p>Les propriétés publicitaires sont utilisées pour activer la publicité côté client et/ou côté serveur pour un lecteur Brightcove:</p>
    <ul>
      <li>La publicité côté client prend en charge Interactive Media Ads (IMA) de Google pour HTML5 version 3. Cela vous permet de demander et de suivre les publicités VAST pour votre lecteur. Pour plus d'informations sur Google IMA, consultez le<a href="https://developers.google.com/interactive-media-ads/docs/sdks/html5/"> document</a> Utilisation du SDK HTML5 IMA Version 3.</li>
      <li>La publicité côté serveur intègre les publicités directement dans le flux de contenu vidéo, de sorte qu'elle fonctionne sur n'importe quel appareil capable de lire des vidéos en streaming. Sans SSAI, les publicités côté client, telles que IMA ou FreeWheel utilisant VAST, VMAP et VPAID, ne seront pas diffusées s'il y a un bloqueur de publicités dans le navigateur. Pour en savoir plus sur SSAI, consultez le<a href="https://ssai.support.brightcove.com/getting-started/video-cloud-ssai-overview.html"> document</a> Video Cloud SSAI Overview. Notez que l'option côté serveur n'apparaîtra que si votre compte a été activé pour SSAI.</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="test">Test du serveur publicitaire (publicité côté client)</h2>
    <p>Lors de la configuration des propriétés publicitaires côté client, une URL de serveur publicitaire est requise. Brightcove vous recommande de vérifier la validité de l'URL de votre serveur publicitaire. Nous avons constaté que la plupart des problèmes liés à la non-diffusion des publicités sont dus à des problèmes liés au tag publicitaire lui-même. La vérification de la validité du tag publicitaire doit garantir que les publicités sont diffusées sans problème. Google fournit un inspecteur de suite vidéo qui peut être utilisé pour vérifier les balises publicitaires. Pour vérifier votre balise publicitaire, procédez comme suit.</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez la<a href="https://googleads.github.io/googleads-ima-html5/vsi/"> page</a> Video Suite Inspector.</li>
      <li>Collez l'URL de votre balise publicitaire dans le champ de saisie du formulaire Type d'entrée. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="studio de greffons ima" src="/assets/images/s-players-img/node15689-vs-inspect.png" /></figure>
      </li>
      <li>Cliquez sur<strong> Test Ad</strong>.</li>
      <li>Vérifiez que votre annonce s'affiche. Si votre balise publicitaire ne fonctionne pas dans cet environnement de test, elle ne fonctionnera pas avec un lecteur Brightcove.</li>
    </ol>
    <p>Les propriétés publicitaires sont utilisées pour intégrer un lecteur Brightcove à Interactive Media Ads (IMA) de Google pour HTML5 version 3. Cela vous permet de demander et de suivre les publicités VAST pour votre lecteur. Pour plus d'informations sur Google IMA, consultez le<a href="https://developers.google.com/interactive-media-ads/docs/sdks/html5/"> document</a> Utilisation du SDK HTML5 IMA Version 3.</p>  </section><section class="bcls-section">
    <h2 id="client">Configuration des propriétés publicitaires côté client</h2>
    <p>Pour configurer la publicité côté client pour un lecteur, procédez comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Players.</li>
      <li>Cliquez sur le lien correspondant au lecteur que vous souhaitez configurer.</li>
      <li>Cliquez sur<strong> Publicité</strong> dans le menu de navigation de gauche.</li>
      <li>Cochez la case<strong> Activer côté client (IMA)</strong>.</li>
      <li>Saisissez l'<strong>Ad Tag</strong>.</li>
      <li>Sélectionnez le<strong> paramètre</strong> Demander des annonces.
        <ul>
          <li><strong>En charge - Les</strong> publicités sont demandées immédiatement lorsque le lecteur se charge (c'est normalement la meilleure expérience pour DFP/VPAID)</li>
          <li><strong>En cours de lecteur:</strong> la première demande d'annonce est retardée jusqu'au lancement de la lecteur</li>
          <li><strong>À la demande:</strong> toutes les demandes d'annonces seront lancées par programmation en utilisant la<code translate="No"> méthode</code> player.ima3.adrequest ()</li>
          <li><strong>Point de repère: les demandes d'</strong>annonces sont effectuées lorsque des points de repère publicitaires sont rencontrés dans la vidéo</li>
        </ul>
      </li>
      <li>Sélectionnez le mode<strong> VPAID</strong>. Le mode VPAID est utilisé pour activer la prise en charge de VPAID 2 dans les publicités IMA.
        <ul>
          <li><strong>Activé -</strong> Diffusez des annonces VPAID dans un iframe avec un autre domaine</li>
          <li><strong>Non sécurisé -</strong> Diffusez des annonces VPAID dans un iframe avec le même domaine</li>
          <li><strong>Désactivé - Les annonces</strong> VPAID génèrent une erreur</li>
        </ul>
      </li>
      <li>Définir la<strong> valeur du</strong> délai d'expiration<strong>:</strong> durée maximale d'attente, en millisecondes, avant l'initialisation d'une annonce avant sa lecteur.</li>
      <li>Cochez la case Délais<strong> d'expiration</strong> difficiles pour empêcher l'affichage d'annonces à chargement lent. Si vous décochez cette option, vous risquez de ralentir le chargement et d'interrompre la lecteur de la vidéo.</li>
      <li>Définissez le nombre<strong> maximum de redirections</strong>. Cela spécifie le nombre maximum de redirections avant que les redirections suivantes ne soient refusées et que le chargement de la publicité soit abandonné. Le nombre de redirections affecte directement la latence et donc l'expérience utilisateur.</li>
      <li>Sélectionnez la version du<strong> plugin IMA</strong> à utiliser. {% if site.product_short == Video Cloud-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node15897-ad-props-vc.png" /></figure> {% endif %} {% if site.product_short == Beacon-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node15897-ad-props-beacon.png" /></figure> {% endif %}
      </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span> pour enregistrer les modifications.</li>
    </ol>
    <p>Le plug-in IMA prend en charge des propriétés supplémentaires qui ne sont pas disponibles dans l'interface utilisateur. Si nécessaire, modifiez le JSON du plugin IMA pour inclure toutes les autres options dont vous pourriez avoir besoin. Pour plus d'informations sur les options spécifiques du plugin IMA et les options du framework publicitaire, consultez le document du<a href="https://player.support.brightcove.com/plugins/advertising-ima3-plugin.html"> développeur</a> Advertising with IMA3 Plugin.</p>  </section><section class="bcls-section">
    <h2 id="server">Configuration de la publicité côté serveur</h2>
    <p>Lorsque vous utilisez des publicités côté serveur, vous devez créer une ou plusieurs configurations d'annonces. Les configurations publicitaires définissent divers aspects de la lecteur SSAI, y compris les appels publicitaires, les balises et d'autres options de configuration. Un compte peut avoir plusieurs configurations et actuellement les configurations ne peuvent pas être partagées entre les comptes. Le menu Paramètres publicitaires côté serveur de l'interface utilisateur d'administration est utilisé pour créer et gérer les configurations publicitaires. Pour plus d'informations, consultez<a href="/admin/configuring-server-side-ad-settings.html"> la section Configuration des paramètres publicitaires côté serveur</a>.</p>
    <p>Pour configurer la publicité côté client pour un lecteur, procédez comme suit:</p> <aside class="bcls-aside bcls-aside--information">Remarque: L'option de publicité côté serveur n'apparaîtra que si le compte a été activé pour les publicités côté serveur.</aside>
    <ol class="bcls-tasklist-restart">
      <li>Cochez<strong> Activer côté serveur (SSAI)</strong>.</li>
      <li>Utilisez la<strong> liste déroulante</strong> Sélectionner la configuration pour sélectionner la configuration publicitaire à associer à ce lecteur.</li>
      <li>Cochez la<strong> case</strong> Activer les incrustations d'informations publicitaires si vous souhaitez que les superpositions s'affichent sur vos annonces. Cela inclut les incrustations En savoir plus-fr/ et le compte à rebours des publicités. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node15897-server-ad-props.png" /></figure>
      </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span>.</li>
    </ol>   </section></article>