<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="4805928382001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <p>Certaines options de style de base du lecteur peuvent être configurées à l'aide du module Players. Pour personnaliser complètement le lecteur Brightcove, vous devez utiliser des feuilles de style en cascade (CSS). Pour plus d'informations sur l'utilisation du CSS pour personnaliser l'apparence du lecteur, consultez la section Étape<a href="https://player.support.brightcove.com/getting-started/step-step-player-customization.html"> par étape: Document</a> développeur sur la personnalisation du lecteur.</p>
    <p>Pour configurer les<strong> paramètres de</strong> style du lecteur, procédez comme suit:</p>
    <ol class="bcls-tasklist-restart">
      <li>Ouvrez le<strong> module</strong> Players.</li>
      <li>Cliquez sur le lien correspondant au lecteur que vous souhaitez configurer.</li>
      <li>Cliquez sur<strong> Style</strong> dans le menu de navigation de gauche.</li> <aside class="bcls-aside bcls-aside--information">Remarque: Cliquez sur l'option de style pour mettre à jour l'habillage du lecteur
 et déclencher un message de changement de lecteur
. Cela s'applique aux nouveaux lecteur
s ou aux lecteur
s qui n'ont pas de valeur de skin.</aside>
    </ol>
    {% if site.product_short == Cloud vidéo-fr/ %} <figure class="bcls-figure">
    <img class="bcls-image--no-border" alt="menu de style" src="/assets/images/s-players-img/node14051-player-styling-settings-vc.png" /></figure> {% endif %} {% if site.product_short == balise-fr/ %} <figure class="bcls-figure">
    <img class="bcls-image--no-border" alt="menu de style" src="/assets/images/s-players-img/node14051-player-styling-settings-beacon.png" /></figure> {% endif %}
    <p>Les paramètres de style suivants peuvent être configurés:</p>
    <ul>
      <li><a href="#playlist_type">Type de playlist</a></li>
      <li><a href="#title_desc">Titre et description</a></li>
      <li><a href="#play_button_shape">Forme du bouton de lecteur</a></li>
      <li><a href="#play_button_pos">Position du bouton de lecteur</a></li>
      <li><a href="#color_theme">Thème de couleur</a></li>
      <li><a href="#logo_overlay">Superposition de logo</a></li>
    </ul>
    <p>Une fois les modifications apportées, assurez-vous de<strong> publier</strong> le lecteur pour que les modifications soient visibles.</p> <aside class="bcls-aside bcls-aside--information">Remarque: Toute modification apportée à un lecteur peut prendre jusqu'à 5 minutes avant d'apparaître dans les lecteurs publiés.</aside> </section> <section class="bcls-section">
    <h2 id="playlist_type">Type de playlist</h2>
    <p>Le<strong> paramètre Type de</strong> liste de lecteur contrôle l'affichage de la liste de lecteur. Cette option n'apparaît que si le Type de<strong> lecteur</strong> est défini sur<strong> Playlist dans le</strong> cadre des<strong> propriétés Informations sur le</strong> lecteur. Les options suivantes sont disponibles:</p>
    <ul>
      <li><strong>Liste de lecteur horizontale</strong>: le lecteur affichera une liste de lecteur horizontale</li>
      <li><strong>Liste de lecteur verticale</strong>: le lecteur affichera une liste de lecteur verticale</li>
      <li><strong>Playlist cachée</strong>: la liste de lecteur sera masquée</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="title_desc">Titre et description</h2>
    <p>Sélectionnez<strong> Afficher le titre et la description</strong> pour afficher le titre et la description de la vidéo sur le lecteur.</p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="titre de la vidéo" src="/assets/images/s-players-img/node14051-player-title.png" /></figure>  </section><section class="bcls-section">
    <h2 id="play_button_shape">Forme du bouton de lecteur</h2>
    <p>Le<strong> paramètre Forme du bouton de</strong> lecteur contrôle la forme du bouton de lecteur. Les formes suivantes sont prises en charge:</p>
    <ul>
      <li>Cercle</li>
      <li>Carré</li>
      <li>Rectangle</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="play_button_pos">Position du bouton de lecteur</h2>
    <p>Le<strong> paramètre Position du bouton de</strong> lecteur contrôle l'emplacement du bouton de lecteur dans le lecteur. Les positions suivantes sont prises en charge:</p>
    <ul>
      <li>Centre</li>
      <li>En haut à gauche</li>
      <li>En haut à droite</li>
    </ul>  </section><section class="bcls-section">
    <h2 id="color_theme">Thème de couleur</h2>
    <p>Les<strong> paramètres du thème de</strong> couleur contrôlent les couleurs utilisées dans le lecteur, y compris les boutons lecteur/pause, le temps écoulé et le volume, les légendes, le plein écran et les icônes de partage.</p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node14051-player-controls.png" /></figure>
    <p>Les couleurs de thème suivantes peuvent être configurées:</p>
    <ul>
      <li><strong>Principal</strong> - Contrôle la couleur du gros bouton de lecteur, de la barre de progression et du niveau de volume</li>
      <li><strong>Arrière-plan</strong>: contrôle la couleur d'arrière-plan des commandes du lecteur</li>
      <li><strong>Icônes</strong> - Contrôle la couleur de la flèche du bouton de lecteur et des icônes de la barre de contrôle du lecteur</li>
    </ul>
    <p>Pour modifier la couleur d'un thème:</p>
    <ol class="bcls-tasklist-restart">
      <li>Cliquez sur la couleur d'un thème pour ouvrir le sélecteur de couleurs.</li>
      <li>Cliquez sur une couleur du côté conduite de la commande.</li>
      <li>Cliquez sur le carré pour sélectionner une teinte de la couleur souhaitée. La couleur peut également être définie à l'aide du modèle chromatique de teinte, saturation, valeur (HSV) dans le contrôle de texte. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="couleur de l'icône" src="/assets/images/s-players-img/node14051-choose-icon-color.png" /></figure>
      </li>
      <li>Le curseur situé sous le carré de couleur peut être utilisé pour définir l'opacité des commandes.</li>
      <li>Cliquez en dehors du sélecteur de couleurs pour modifier la couleur d'un autre thème.</li>
    </ol>
    Si vous cochez la<strong> case</strong> Revenir au thème par défaut du lecteur plus ancien, le bouton de lecteur et la barre de progression seront de couleur rosâtre.</section> <section class="bcls-section">
    <h2 id="logo_overlay">Superposition de logo</h2>
    <p>Une superposition de logo est une image qui apparaît sur le dessus du lecteur. Un exemple de superposition de logo apparaît ci-dessous.</p> <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/node14051-player-overlay-sample.png" /></figure> <aside class="bcls-aside bcls-aside--information">Remarque: Le plugin de superposition peut également être configuré manuellement et permet d'afficher du texte et plusieurs superpositions. Pour plus d'informations, consultez<a href="/players/configuring-player-overlay-using-overlay-plugin.html"> Configuration d'une superposition de lecteur à l'aide du plug-in</a> Overlay</aside>
    <p>Pour ajouter une superposition de logo:</p>
    <ol class="bcls-tasklist-restart">
      <li>Réglez la superposition du<strong> logo </strong><strong>sur Activé</strong>.</li>
      <li>Cliquez sur<span class="button-blue"> Parcourir</span> et sélectionnez une image de superposition (les images .png, .jpg et .gif sont prises en charge).</li>
      <li>(Facultatif) Saisissez l'URL<strong> du logo</strong>. Lorsque vous cliquez sur la superposition, cette URL s'ouvre dans un nouvel onglet du navigateur.</li>
      <li>Sélectionnez une position<strong> du logo</strong> pour la superposition:
        <ul>
          <li>En bas à droite</li>
          <li>En bas à gauche</li>
          <li>En haut à droite</li>
        </ul>
      </li>
    </ol>   </section></article>