<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6037729683001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <h3>Étapes</h3>
    <ol class="bcls-tasklist-restart">
      <li>Dans la navigation principale, cliquez sur<strong> Lecteurs</strong>.
      </li>
      <li>Cliquez<span class="button-blue"> sur+Ajouter un lecteur
</span>.</li>
      <li>Saisissez un<strong> nom</strong> et une<strong> brève description</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/basics/node18807-name-desc.png" /></figure>
      </li>
      <li>Cliquez sur<span class="button-blue"> Enregistrer</span>.</li>
    </ol>
    <p>Pour afficher la page des propriétés du lecteur, cliquez sur le nom d'un lecteur
.</p>
    {% if site.product_short == Video Cloud-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/basics/node18807-player-props-vc.png" /></figure> {% endif %} {% if site.product_short == Beacon-fr/ %}<figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/basics/node18807-player-props-beacon.png" /></figure> {% endif %}<aside class="bcls-aside bcls-aside--information"> Remarque: Pour plus de détails sur la création de lecteur
s, consultez la section<a href="/players/getting-started-players-module.html"> Premiers pas avec le module Players</a>.</aside> </section> </article> 