<article class="bcls-article">
  <h1>{{ page.title }}</h1>
  <summary>{{ page.description }}</summary>
  <section class="bcls-section">
    {% if site.product_short == "Video Cloud" %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6037729683001">&nbsp;</div>
    <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script>
   {% endif %}
    <h3>Steps</h3>
    <ol class="bcls-tasklist-restart">
      <li>In the primary navigation, click <i data-feather="play-circle"></i><strong>Players</strong>.
      </li>
      <li>Click <span class="button-blue">+ Add player</span>.</li>
      <li>Enter a <strong>Name</strong> and <strong>Short Description</strong>.
        <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/basics/node18807-name-desc.png" /></figure>
      </li>
      <li>Click <span class="button-blue">Save</span>.</li>
    </ol>
    <p>To view the player properties page, click on a player name.</p>
    {% if site.product_short == "Video Cloud" %}
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/basics/node18807-player-props-vc.png" /></figure>
   {% endif %}
    {% if site.product_short == "Beacon" %}
    <figure class="bcls-figure"><img class="bcls-image--no-border" alt="" src="/assets/images/s-players-img/basics/node18807-player-props-beacon.png" /></figure>
   {% endif %}
<aside class="bcls-aside bcls-aside--information">Note: For complete details on creating players, see <a href="/players/getting-started-players-module.html">Getting Started with the Players Module</a>.</aside>
  </section>
</article>
