<article class="bcls-article">
  <h1>{{page.title}}</h1> <summary>{{page.description}}</summary> <section class="bcls-section"> {% if site.product_short == Video Cloud-fr/ %}
    <div class="training-video-player-ipx" data-experience="5a73630f7afd7a00101bc1b5" data-video-ids="6038077824001">&nbsp;</div> <script src="https://players.brightcove.net/20318290001/experience_5a73630f7afd7a00101bc1b5/live.js"></script> {% endif %}
    <h3>Prérequis</h3>
    <ul>
{% if site.product_short == Cloud vidéo-fr/ %}
      <li>Vous avez<a href="/get-started/basics/creating-player.html"> créé un lecteur</a> dans votre compte Video Cloud</li>
   {% endif %} {% if site.product_short == Beacon-fr/ ou site.product_short == CorpTV-fr/ %}
      <li>Vous avez<a href="/get-started/basics/players/creating-player.html"> créé un lecteur
</a> sur votre compte</li>
   {% endif %}
    </ul>
    <h3>Étapes</h3>
    <ol class="bcls-tasklist-restart">
      <li>Dans la navigation principale, ouvrez le<strong> module</strong> Players.</li>
      <li>Cliquez sur le nom du lecteur
 pour créer un style.</li>
      <li>Cliquez sur<strong> Style</strong> dans le volet de navigation de gauche.</li> <aside class="bcls-aside bcls-aside--information">Remarque: Cliquez sur l'option de style pour mettre à jour l'habillage du lecteur
 et déclencher un message de changement de lecteur
. Cela s'applique aux nouveaux lecteur
s ou aux lecteur
s qui n'ont pas de valeur de skin.</aside>
      <li>Choisissez d'afficher ou de masquer le<strong> titre et la description.</strong></li>
      <li>Sélectionnez une forme de bouton de <strong></strong>lecteur<strong> et une position de bouton de lecteur</strong>. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="couleur de l'icône" src="/assets/images/s-players-img/basics/node18809-player-styling.png" /></figure>
      </li>
      <li>Cliquez sur la couleur d'un thème pour ouvrir le sélecteur de couleurs.</li>
      <li>Cliquez sur une couleur du côté conduite de la commande.</li>
      <li>Cliquez sur le carré pour sélectionner une teinte de la couleur souhaitée. <figure class="bcls-figure"><img class="bcls-image--no-border" alt="couleur de l'icône" src="/assets/images/s-players-img/basics/node18809-player-color-theme.png" /></figure>
      </li>
      <li>Le curseur situé sous le carré de couleur peut être utilisé pour définir l'opacité des commandes.</li>
      <li>Cliquez en dehors du sélecteur de couleurs pour modifier la couleur d'un autre thème.</li>
      <li>Les modifications apportées à un lecteur<strong> DOIVENT</strong> être publiées avant d'apparaître dans les lecteurs publiés. Pour publier les modifications, cliquez sur<strong> Publier et intégrer,</strong> puis sur<strong> Publier les modifications</strong>.</li>
    </ol> <aside class="bcls-aside bcls-aside--information">Remarque: Pour plus de détails sur le style des lecteur
s, voir<a href="/players/styling-players.html"> Styling Players</a>.</aside> </section> </article> 